config.stopBubbling = true

#setter 차단. record 식 데이터 접근
lombok.accessors.fluent = true

# supressWarnings 차단
lombok.addSuppressWarnings = false

# no argments constructor default accessor protected 설정
lombok.accessors.makeFinal = true

# builder 패턴 사용시 생성자 자동 생성
lombok.builder = true

lombok.setter.flagUsage = ERROR
lombok.sneakyThrows.flagUsage = ERROR
lombok.data.flagUsage = ERROR