<!DOCTYPE html>
<html data-bs-theme="dark" lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0, initial-scale=1">
    <title>분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://blisgo.org/templates/error/404.html">
    <meta property="og:url" content="https://blisgo.org/templates/error/404.html">
    <meta name="twitter:description" content="분리배출 도우미 사전">
    <meta name="twitter:image" content="https://blisgo.org/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://blisgo.org/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미 사전">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <header th:replace="~{/base/header::header}"></header>
    <main id="index">
        <div class="row g-0 d-flex justify-content-center align-items-center vh-100">
            <div class="col-auto">
                <div class="accordion" role="tablist" id="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion .item-1" aria-expanded="true" aria-controls="accordion .item-1"><img src="https://http.cat/404"></button></h2>
                        <div class="accordion-collapse collapse show item-1" role="tabpanel">
                            <div class="accordion-body">
                                <div class="vstack m-auto w-auto" th:text="${'timestamp: ' + timestamp}">
                                    <h1>[[${status}]] - [[${error}]]</h1>
                                    <p class="lead">[[#{error.message}]]</p>
                                    <p class="lead">${'path: ' + path}</p>
                                    <p class="lead" th:text="${'path: ' + path}">2024-04-09</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>