<!DOCTYPE html>
<html data-bs-theme="dark" lang="ko" layout:decorate="~{/base/layout}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0, initial-scale=1">
    <title>게시글 - 분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://blisgo.up.railway.app/templates/community/write.html">
    <meta property="og:url" content="https://blisgo.up.railway.app/templates/community/write.html">
    <meta name="twitter:description" content="분리배출 도우미 사전">
    <meta name="twitter:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <main class="container" layout:fragment="main">
        <section id="post" th:fragment="post">
            <form id="form" th:method="${post?.postId != null} ? 'patch' : 'post'" th:action="${post?.postId != null} ? @{~/posts/{postId}(postId=${post?.postId})} : @{~/posts}" th:data-content="${post?.content?.text}" th:data-edit="${false}">
                <div class="card shadow-sm border-0 mx-1 .post" th:style="${'background: ' + (post?.color != null ? post?.color : color) + ';'}">
                    <div class="card-header bg-light bg-opacity-50 border-0">
                        <div class="row d-flex align-items-center">
                            <div class="col"><input class="bg-transparent border-0 shadow-none form-control form-control-lg px-0 fw-bold fs-3" type="text" placeholder="제목" name="title" autocomplete="off" required="" th:value="${post?.title}" data-bs-theme="light" th:placeholder="#{community.write.heading.input.placeholder}"></div>
                            <div class="col-auto"><input class="form-control form-control-color float-end p-1" type="color" data-bs-toggle="tooltip" data-bss-tooltip="" id="post-color" name="color" title="게시글 배경색 지정" th:value="${post?.color != null ? post?.color : color}"></div>
                        </div>
                    </div>
                    <div class="card-body fs-5 text-black bg-light bg-opacity-75 border-0 p-1">
                        <div id="editorjs"></div><input class="form-control" type="hidden" id="editorjs-content" name="content"><input class="form-control" type="hidden" id="postId" th:value="${post?.postId}" name="postId">
                    </div>
                </div><button class="btn btn-success border rounded-circle shadow d-flex justify-content-center align-items-center position-fixed bottom-0 end-0 translate-middle p-3 m-2 border-0" data-bs-toggle="tooltip" data-bss-tooltip="" id="save-button" title="등록" sec:authorize="isAuthenticated()" type="submit" th:title="#{community.write.fab.submit.title}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-send-fill fs-3" id="float-btn-icon">
                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"></path>
                    </svg></button>
            </form>
        </section><!-- Start: hx-get -->
        <div th:attr="hx-get='/posts/'+ ${postId} + '?edit=true'" hx-trigger="load" hx-swap="outerHTML" hx-target="#post" hx-include="[name='postId']" th:if="${postId != null}"><input type="hidden" id="postId" name="postId" th:value="${post!=null ? post.postId : postId}"></div><!-- End: hx-get -->
    </main>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>