<!DOCTYPE html>
<html data-bs-theme="dark" lang="ko" layout:decorate="~{/base/layout}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0, initial-scale=1">
    <title>게시판 - 분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://blisgo.up.railway.app/templates/community/board.html">
    <meta property="og:url" content="https://blisgo.up.railway.app/templates/community/board.html">
    <meta name="twitter:description" content="분리배출 도우미 사전">
    <meta name="twitter:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
</head>

<body>
    <main class="container" layout:fragment="main">
        <section id="posts">
            <div class="list-group list-group-flush scrollarea" th:fragment="posts">
                <!-- Start: hx-get --><a class="list-group-item list-group-item-action border-0 p-0" th:attr="hx-get='/posts?lastPostId='+${posts?.getNumberOfElements() > 0 ? posts.getContent().get(posts.getNumberOfElements()-1).postId() : ''}" hx-trigger="revealed" hx-swap="beforeend" th:if="${posts==null || posts?.hasNext()}" hx-target="#posts"></a><!-- End: hx-get --><a class="list-group-item list-group-item-action border-0 p-2" id="post" th:each="post: ${posts?.getContent()}" aria-current="true" th:href="@{~/community/{postId}(postId=${post.postId})}">
                    <div class="hstack">
                        <div class="vstack text-truncate px-2 pt-2">
                            <h4 class="text-truncate fw-bold" th:text="${post.title}">제목</h4>
                            <p class="text-truncate text-break" rows="2" th:text="${#strings.isEmpty(post?.content?.preview)} ? '미리보기가 없습니다.' : ${post.content.preview}">글내용</p><div class="hstack gap-1 text-muted"><img class="img-fluid border rounded border-0 d-none d-sm-inline" data-bss-hover-animate="pulse" src="https://i.pravatar.cc/200?mg=2" width="30px" alt="프로필이미지" th:src="${post?.author?.picture?.url}"><small th:text="${post.author.name}">작성자</small><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clock-fill">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"></path>
</svg><small th:text="${#temporals.format(post?.modifiedDate, 'yyyy-MM-dd')}">작성일</small><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-suit-heart-fill">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"></path>
</svg><small th:text="${post.likes}">좋아요</small><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-chat-dots-fill">
  <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"></path>
</svg><small th:text="${post.replies}">댓글</small></div></div><img th:src="${post?.content?.thumbnail?.url}" width="120px" src="https://via.placeholder.com/120" loading="auto" height="120px" th:if="${post?.content?.thumbnail?.url != null}" style="object-fit: cover;"></div></a></div></section><!-- Start: FAB --><a class="btn btn-primary border rounded-circle shadow d-flex justify-content-center align-items-center position-fixed bottom-0 end-0 translate-middle p-3 m-2 border-0" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" sec:authorize="isAuthenticated()" th:href="@{~/community/write}" title="새 글을 작성합니다" th:title="#{community.board.fab.write.title}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-plus-lg fs-3" id="float-btn-icon">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
</svg></a><!-- End: FAB --></main><script src="/assets/js/jquery.min.js"></script><script src="/assets/bootstrap/js/bootstrap.min.js"></script><script src="/assets/js/bs-init.js"></script></body></html>