<!DOCTYPE html>
<html data-bs-theme="dark" lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0, initial-scale=1">
    <title>분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://blisgo.up.railway.app/templates/base/error.html">
    <meta property="og:url" content="https://blisgo.up.railway.app/templates/base/error.html">
    <meta name="twitter:description" content="분리배출 도우미 사전">
    <meta name="twitter:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미 사전">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "분리ㅅㄱ",
            "url": "https://blisgo.up.railway.app"
        }
    </script>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png?h=d280b01977b791714694a40e9963be0a">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png?h=d874033a3f038e5f02e1958d00a60eff">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png?h=7dcd0a3651302a768c6a9f0105ac2408">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png?h=d280b01977b791714694a40e9963be0a">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png?h=6c592fa58710f02e35cca41f7e883cff">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png?h=3ab5991783761ea87ccc35c8e55a58ba">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=cd822b7fd22c8a95a68470c795adea69">
    <link rel="manifest" href="/manifest.json?h=e6474b78e186705a2cf9774c26cc7937" crossorigin="use-credentials">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css?h=a64769832829539ed2c6fd0f96af741e">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row g-0 d-flex justify-content-center align-items-center min-vh-100" id="highlight">
            <div class="col-10 col-sm-10 col-lg-8 col-xxl-6 text-center text-white pb-5 mb-5">
                <div class="vstack m-auto w-auto">
                    <h1 th:text="[[${status}]] - [[${error}]]">404 - 없는 페이지</h1>
                    <p class="lead" th:text="[[#{error.message}]]">해당 페이지가 존재하지 않습니다</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js?h=6bcc3684f18aa21874fa709f122723cf"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js?h=e55bde7d6e36ebf17ba0b8c1e80e4065"></script>
    <script src="/assets/js/bs-init.js?h=81d18e10772fe19d112aee494afb554c"></script>
    <script src="/assets/js/cmmn/editor.js?h=b533efc29ce1c0a6114a1b6fa66ffd78"></script>
</body>

</html>