<!DOCTYPE html>
<html data-bs-theme="dark" lang="ko" layout:decorate="~{/base/layout}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0, initial-scale=1">
    <title>사전 - 분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://blisgo.up.railway.app/templates/dictionary/catalogue.html">
    <meta property="og:url" content="https://blisgo.up.railway.app/templates/dictionary/catalogue.html">
    <meta name="twitter:description" content="분리배출 도우미 사전">
    <meta name="twitter:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css">
</head>

<body>
    <main class="container" layout:fragment="main">
        <section id="wastes">
            <div id="autocomplete"></div>
            <div class="row g-0" th:fragment="wastes">
                <div class="col">
                    <!-- Start: hx-get -->
                    <div th:attr="hx-get='/wastes?lastWasteId=' + ${wastes?.getNumberOfElements() > 0 ? wastes.getContent().get(wastes.getNumberOfElements()-1).wasteId() : '' }" th:if="${wastes==null || wastes?.hasNext()}" hx-trigger="revealed" hx-swap="beforeend" hx-target="#wastes"></div><!-- End: hx-get -->
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-1" th:each="waste: ${wastes?.getContent()}">
                    <figure class="figure position-relative mb-0" data-aos="zoom-in"><a th:href="@{~/dictionary/{wasteId}(wasteId=${waste.wasteId})}"><img class="img-fluid" src="https://via.placeholder.com/640" width="640px" height="640px" alt="사전 이미지" th:src="${waste.picture.url}"></a>
                        <figcaption class="figure-caption text-center bg-black bg-opacity-50 p-1 text-white position-absolute bottom-0 translate-middle-x start-50 w-100" th:text="${waste.name}">품명</figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </main>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>