<!DOCTYPE html>
<html data-bs-theme="auto" lang="ko" layout:decorate="~{/base/layout}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0, initial-scale=1">
    <title>상세정보 - 분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://blisgo.up.railway.app/templates/dictionary/info.html">
    <meta property="og:url" content="https://blisgo.up.railway.app/templates/dictionary/info.html">
    <meta name="twitter:description" content="분리배출 도우미 사전">
    <meta name="twitter:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미">
    <script>
        (function() {

            // JavaScript snippet handling Dark/Light mode switching

            const getStoredTheme = () => localStorage.getItem('theme');
            const setStoredTheme = theme => localStorage.setItem('theme', theme);
            const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

            const getPreferredTheme = () => {

                if (forcedTheme) return forcedTheme;

                const storedTheme = getStoredTheme();
                if (storedTheme) {
                    return storedTheme;
                }

                const pageTheme = document.documentElement.getAttribute('data-bs-theme');

                if (pageTheme) {
                    return pageTheme;
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme);
                }
            }

            setTheme(getPreferredTheme());

            const showActiveTheme = (theme, focus = false) => {
                const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

                if (!themeSwitchers.length) return;

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active');
                    element.setAttribute('aria-pressed', 'false');
                });

                for (const themeSwitcher of themeSwitchers) {

                    const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                    if (btnToActivate) {
                        btnToActivate.classList.add('active');
                        btnToActivate.setAttribute('aria-pressed', 'true');
                    }
                }
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme();
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme());
                }
            });

            window.addEventListener('DOMContentLoaded', () => {
                showActiveTheme(getPreferredTheme());

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const theme = toggle.getAttribute('data-bs-theme-value');
                            setStoredTheme(theme);
                            setTheme(theme);
                            showActiveTheme(theme);
                        })
                    })
            });
        })();
    </script>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png?h=d280b01977b791714694a40e9963be0a">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png?h=d874033a3f038e5f02e1958d00a60eff">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png?h=7dcd0a3651302a768c6a9f0105ac2408">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png?h=d280b01977b791714694a40e9963be0a">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png?h=6c592fa58710f02e35cca41f7e883cff">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png?h=3ab5991783761ea87ccc35c8e55a58ba">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css?h=a64769832829539ed2c6fd0f96af741e">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials"><script th:inline="javascript">
var sdictionary= [[${dictionary}]];
</script>
</head>

<body>
    <main class="container" layout:fragment="main">
        <section id="waste" th:fragment="waste">
            <article>
                <div class="row g-0">
                    <div class="col-md-4 text-center p-2"><img class="img-fluid shadow-sm" src="https://via.placeholder.com/640" alt="사전 이미지" th:src="${waste?.picture?.url}" width="640" height="640"></div>
                    <div class="col align-self-stretch p-2">
                        <div class="vstack gap-2">
                            <div>
                                <ol class="breadcrumb d-inline-flex mt-1 mb-1">
                                    <li class="breadcrumb-item"><a><span th:text="${waste?.type}">대분류</span></a></li>
                                    <li class="breadcrumb-item"><a><span th:text="${waste?.wasteId}">도감 번호</span></a></li>
                                </ol>
                                <div class="btn-group float-end" role="group" id="bookmark" sec:authorize="isAuthenticated()" th:fragment="bookmark"><button class="btn btn-link d-xxl-flex align-items-center" data-bs-toggle="toast" data-bss-tooltip="" id="btn-toast" type="button" value="${dogamCheck}" hx-post="/dogams" title="도감에 추가하기" th:attr="hx-vals='{&quot;wasteId&quot;: '+${waste?.wasteId} + '}'"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-64 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                            <path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"></path>
                                        </svg></button></div>
                            </div>
                            <h1 class="m-0" th:text="${waste?.name}">이름</h1>
                            <div class="hstack gap-2">
                                <div class="d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor" color="var(--bs-yellow)">
                                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                        <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"></path>
                                    </svg><small th:text="${waste?.popularity}+'/10'">별점/10</small></div><span class="badge rounded-pill bg-secondary d-inline-flex mx-1" th:each="category : ${waste?.categories}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="text-white">
                                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                        <path d="M181.3 32.4c17.4 2.9 29.2 19.4 26.3 36.8L197.8 128h95.1l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3s29.2 19.4 26.3 36.8L357.8 128H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H347.1L325.8 320H384c17.7 0 32 14.3 32 32s-14.3 32-32 32H315.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8l9.8-58.7H155.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8L90.2 384H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l21.3-128H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3zM187.1 192L165.8 320h95.1l21.3-128H187.1z"></path>
                                    </svg><span class="text-white" th:text="${category.tag}">태그명</span></span>
                            </div>
                            <hr class="mt-1 mb-1"><span th:each="guide: ${guides}" th:utext="${guide?.content}">태그에 해당되는 폐기물 공통 처리 안내&nbsp;</span>
                            <p th:utext="${waste?.treatment}">해당 폐기물 만의 취급 내용</p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <hr>
                <div>
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="nav-item" role="presentation" th:if="${i.index==0}" th:each="guide, i : ${guides}"><a class="nav-link active fw-semibold" role="tab" data-bs-toggle="tab" th:href="@{'#'+${guide?.category.tag}}" th:text="${guide?.category.tag}">태그1</a></li>
                        <li class="nav-item" role="presentation" th:unless="${i.index==0}" th:each="guide, i : ${guides}"><a class="nav-link fw-semibold" role="tab" data-bs-toggle="tab" th:href="@{'#'+${guide?.category.tag}}" th:text="${guide?.category.tag}">태그2</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane description active show" role="tabpanel" th:if="${i.index==0}" th:attr="id=${guide?.category.tag}" th:each="guide, i : ${guides}"><img class="img-fluid copyright" src="https://via.placeholder.com/1280x720" width="100%" height="100%" alt="설명서" th:src="${guide?.picture?.url}" th:if="${not #strings.isEmpty(guide?.picture?.url)}">
                            <div class="alert alert-warning" role="alert" th:unless="${not #strings.isEmpty(guide?.picture?.url)}"><span><strong>이런!</strong> 해당 가이드에 대해 등록된 정보가 없습니다. 문의해주시면 빠른 시일 내 추가하겠습니다</span></div>
                        </div>
                        <div class="tab-pane specifications" role="tabpanel" th:unless="${i.index==0}" th:attr="id=${guide?.category.tag}" th:each="guide, i : ${guides}"><img class="img-fluid copyright" src="https://via.placeholder.com/1280x720" width="100%" height="100%" alt="설명서" th:src="${guide?.picture?.url}" th:if="${not #strings.isEmpty(guide?.picture?.url)}">
                            <div class="alert alert-warning" role="alert" th:unless="${not #strings.isEmpty(guide?.picture?.url)}"><span><strong>이런!</strong> 해당 가이드에 대해 등록된 정보가 없습니다. 문의해주시면 빠른 시일 내 추가하겠습니다</span></div>
                        </div>
                    </div>
                </div>
                <hr th:if="${ guides != null}">
                <div></div>
            </article>
            <article>
                <div class="vstack gap-2">
                    <h3 class="text-center">연관된 폐기물</h3>
                    <div class="row g-0">
                        <div class="col-6 col-lg-3 spacer-slider p-1" data-bs-toggle="tooltip" data-bss-tooltip="" th:each="relatedWaste: ${relatedWastes}">
                            <figure class="figure position-relative mb-0"><a th:href="@{~/dictionary/{wasteId}(wasteId=${relatedWaste?.wasteId})}"><img class="img-fluid" src="https://via.placeholder.com/640" width="640px" height="640px" alt="사전 이미지" th:src="${relatedWaste?.picture?.url}"></a>
                                <figcaption class="figure-caption text-center bg-black bg-opacity-50 p-1 text-white position-absolute bottom-0 translate-middle-x start-50 w-100" th:text="${relatedWaste?.name}">폐기물명</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </article><!-- Start: hx-get -->
            <div th:attr="hx-get='/wastes?wasteId='+${wasteId}" th:if="${waste==null}" hx-trigger="revealed" hx-swap="outerHTML" hx-target="#waste"></div><!-- End: hx-get -->
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=81d18e10772fe19d112aee494afb554c"></script>
</body>

</html>