<!DOCTYPE html>
<html data-bs-theme="dark" lang="ko" layout:decorate="~{/base/layout}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=0, initial-scale=1">
    <title>분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://blisgo.up.railway.app/templates/">
    <meta property="og:url" content="https://blisgo.up.railway.app/templates/">
    <meta name="twitter:description" content="분리배출 도우미 사전">
    <meta name="twitter:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://blisgo.up.railway.app/assets/img/favicon/512x512.png">
    <meta name="description" content="분리배출 도우미">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <main id="index" layout:fragment="main">
        <div class="container-fluid p-0" style="background: url(&quot;/assets/img/index_wallpaper.webp&quot;); background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="row g-0 d-flex justify-content-center align-items-center bg-black bg-opacity-75 min-vh-100">
                <div class="col-10 col-sm-10 col-lg-8 col-xxl-6 text-center text-white pb-5 mb-5">
                    <div class="vstack gap-1 m-auto w-auto">
                        <h1 th:text="#{index.hero.heading}">분리ㅅㄱ</h1>
                        <h6>🌏 = 🌸&nbsp;-&gt;&nbsp;♻️ * (🚮 = 🧐 + 🗑️)</h6>
                        <div id="autocomplete"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>